body {
padding-top:0px;
}
.navbar{
  font-size: 10px;
  text-shadow:0 -1px 0 #2e2e2e;
  opacity: 0.7;
}
.navbar a {
  color: #5a5a5a;

  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
  color: #d6d6d6;
}

.jumbotron {
  background:url('../pics/6.jpg')  no-repeat fixed rgba(0, 0, 0, 0);
  height: 700px;
  margin-bottom: 10px;
  font-family: monospace;
  text-align:center;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
}

.jumbotron h2 {
  color: #fff;
  font-size: 32px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background: url("../pics/b.jpg") no-repeat fixed center center / cover  rgba(0, 0, 0, 0);
  border-top: 1px solid #E9E9E9;
  margin-top: 30px;
  padding-top:40px;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #grey;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background: url("../pics/ticks.png") repeat scroll 0% 0% transparent;
    border-bottom: 2px solid #dbdbdb;
	border-top: 2px solid #dbdbdb;
}
.neighborhood-guides h2{
    color:#393c3d;
    font-size:24px;
	text-align: center;
}
.neighborhood-guides p{
    font-size:15px;
    margin-bottom:13px;
}

.footer {
  background-color:#838383;
  text-shadow:0 -1px 0 #181818;
  border-top: 7px solid #222;
  margin-top: 10px;
  padding:20px;
  background: url("../pics/ticks1.png") repeat scroll 0% 0% transparent;
  color:#999;
 }


.footer p {
   font-size:10px;
}

.well{
width:70%;
padding-top:40px;
margin:40px auto;
}

.table-responsive{
margin:50px auto;
width:60%;
}

.sub-header {
    border-bottom: 1px solid #D8D8D8;
    text-align: center;
	margin:50px auto;
	width:50%;
}

.alert{
font-size:15px;
width:30%;
}

.btn-outline-inverse {
    background-color: rgba(0, 0, 0, 0);
    border-color: #CDBFE3;
    color: #FFFFFF;
}
.btn-outline-inverse:hover,  .btn-outline-inverse:focus{
    background-color: #99FFB3;
	color:#383838;
}
.panel{
opacity:0.9;
}

.carousel-inner > .item > img{
width:100%;
}
